@import "ui-variables";

.highlight.ocaml-merlin .region {
  border-bottom: 1px solid @background-color-info;
}

atom-overlay.ocaml-merlin {
  z-index: 12;
}

.ocaml-merlin-type {
  padding: 0.75rem;
  box-shadow: 2px 2px 2px darken(@overlay-background-color, 4%);
  border-radius: @component-border-radius;
  border-left: 0.5rem solid @overlay-border-color;
  background-color: @overlay-background-color;

  atom-text-editor {
    box-shadow: none !important;
    padding: 0 !important;
    background-color: @overlay-background-color !important;
    border-color: transparent !important;
    font-size: inherit !important;
  }

  .cursors {
    display: none;
  }
}
